#pragma code_page(65001)
#include <windows.h>
#include "resource.h"

// CMake adds this directory to RC's include search path.
IDI_ISVIK ICON "Isvik.ico"

IDR_VERSION VERSIONINFO
 FILEVERSION 0,1,0,0
 PRODUCTVERSION 0,1,0,0
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404B0"
    BEGIN
      VALUE "FileDescription", "Isvik 本地 AI 工作空间\0"
      VALUE "FileVersion", "0.1.0.0\0"
      VALUE "InternalName", "Isvik\0"
      VALUE "OriginalFilename", "Isvik.exe\0"
      VALUE "ProductName", "Isvik\0"
      VALUE "ProductVersion", "0.1.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 1200
  END
END
